/* styles.css */

/* App Component Styles */
.App{
    display: flex;
    flex-direction: column;
  }
  
  /* CocktailCard Component Styles */
  .cocktail{
    /* height: auto; */
    width: 25%;
    border: lightgrey 5px solid;
    margin: 10px;
    list-style-type: none;
  }
  .list {
    list-style-type: none; 
  }
  
  img{
    width: auto;
    height: 200px;
    float: left;
    margin: 15px;
  }
  
  /* CocktailGallery Styles */
  .container {
      width: 100%;
  }
  
  .cocktail-gallery-container{
      margin: 10px;
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  .name{
      background: #510169;
      color: white;
      text-align: center;
      font-weight: 300;
  }
  
  /* Header Component Styles */
  .container-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    background-color: #f7f8f9;
  }
  
  .what-name{
    font-weight: 600;
    font-size: medium;
  }
  