/* styles.css */

/* App Component Styles */
.App{
    display: flex;
    flex-direction: column;
    background-color: #C28D5C;
  }
  
  /* CocktailCard Component Styles */
  .cocktail{
    /* height: auto; */
    width: 30%;
    border: lightgrey 5px solid;
    margin: 10px;
    list-style-type: none;
  }
  .list {
    list-style-type: none; 
  }
  
  img{
    width: auto;
    height: 200px;
    float: left;
    margin: 15px;
  }
  
  /* CocktailGallery Styles */
  .container {
      width: 100%;
  }
  
  .cocktail-gallery-container{
      margin: 10px;
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  .name{
      background: #7E1F2B;
      color: white;
      text-align: center;
      font-weight: 200;
      padding: 10px;
      font-size: fit-content;
  }
  
  /* Header Component Styles */
  .container-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    background-color: #f7f8f9;
  }
  
  .what-name{
  justify-content: center;
  align-items: center;
  justify-self: center;
  -webkit-text-stroke: .5px black; /* width and color */
  }
  name {
    justify-content: center;
    align-items: center;
    justify-self: center; 
  }
  