/* styles.css */

/* App Component Styles */
.App{
    display: flex;
    flex-direction: column;
    background-color: #F0B859;
  }
  
  /* CocktailCard Component Styles */
  .cocktail{
    /* height: auto; */
    width: 30%;
    border: lightgrey 5px solid;
    margin: 10px;
    list-style-type: none;
  }
  .list {
    list-style-type: none; 
  }
  
  img{
    width: 100%;
    

  }
  
  /* CocktailGallery Styles */
  .container {
      width: 100%;
      padding-left: 10px;
  }
  
  .cocktail-gallery-container{
      margin: 10px;
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }
  
  .name{
      font-size: 55px;
      color: white;
      text-align: center;
      font-weight: 300;
      padding: 5px;
      font-size: fit-content;
      margin-top: 15px;
  }
  
  /* Header Component Styles */
  .container-header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    background-color: #f7f8f9;
  }
  
  .what-name{
  justify-content: center;
  align-items: center;
  justify-self: center;
  -webkit-text-stroke: .5px black; /* width and color */
  }

h2 {
  background: #A0203D;

}
.instructions {
  margin-top: 70px;
  padding: 0px 10px;
}
h5 {
  font-size: 20;
}
p {
  padding: 0px 10px;
}
 
@media only screen 
    and (max-width : 1050px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 1) {
      body {
        display: block;
      }
      .content {
        display: block;
      }
      .cocktail {
        width: 100%;
      }
    }