
body {
	margin: 0;
	padding: 0;
	/* background-color: #000; */
}

/* NEW CODE */

.searchBox {
    
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 8%;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #fb0094;
}

.searchButton {
    color: #fb0094;
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: #fb0094;
    font-size: 16px;
    transition: 0.4s;
    line-height: 60px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
} 
@media screen and (max-width: 500px) {
.searchBox:hover > .searchInput {
    width: 100%;
    display: block;
    padding: 0 6px;
}
.container-header {
    width: 100%;
    display: block;
}
} 