.container-header {
    background-image: url("./style/kobby-mendez-xBFTjrMIC0c-unsplash (1).jpg");
    height: 30em;
    background-size: cover;
    position: relative;
    top: -160px;
    margin-bottom: -150px;
}